body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

input, button {
    padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}

header, section {
    display: none;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

time {
    color: #aaaaaa;
}

.msg {
    width: 100%;
    min-height: 20px;
    border-radius: 4px;
    margin: 2px 0px;
    line-height: 20px;
    padding: 10px 0px;
}

.entry {
    background-color: #dcdcdc;
}

.default {
    background-color: #ffffff;
}

.private {
    background-color: #ffdede;
}

.left-icon {
    margin-left: 22px;
}

.right-icon {
    font-size: 32px;
    margin-right: 22px;
}   

@media (max-width: 440px) {
    header, section {
        display: flex;
    }

    .header-container {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        background-color: #ffffff;       
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    .chat-container {
        width: 100%;
        background-color: #f3f3f3;
        flex-direction: column;
        margin: 100px 0px;
        padding: 10px 0px;
        z-index: 0;
        overflow-y: scroll;
        word-wrap: break-word;
    }

    .message-container {
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
        z-index: 1;

    }

    .input-box {
        background-color: #ffffff;
        height: 74px;
        width: 83%;
        font-size: 20px;
        border: none;   
    }

    .send-btn {
        background-color: #ffffff;
        height: 74px;
        width: 15%;
        font-size: 28px;
        border: none;         
    }

    .sidemenu-overlay {
        display: flex;
        opacity: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 3;
        background-color: rgba(0,0,0,.6);
        transition: opacity 0.6s ease-out;
    }

    .hidden {
        opacity: 0;
        display: none;
    }
    
    .sidemenu-container {
        background-color: #ffffff;
        height: 100%;
        width: 70%;
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }

    .sidemenu-container h2 {
        padding: 24px 0px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }

    .user-list, .msg-types {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        word-wrap: break-word;
    }

    .user-list {
        max-height: 65%;
        overflow-y:  scroll;
    }

    .user-list .unq-user, .msg-types .unq-user {
        font-size: 16px;
        font-weight: 400;
        padding: 8px 0px;
    }

    .selected {
        color: #28bb25;
    }

    .user-list i, .msg-types i {
        font-size: 18px;
        margin-right: 12px;
    }
}